<template>
    <v-container>
        <v-row>
            <orders/>
        </v-row>
        <v-row>
            <navigation/>
        </v-row>
        <v-row>
            <router-view></router-view>
        </v-row>
    </v-container>
</template>

<script>
import orders from './orders'
import navigation from "./navigation";

export default {
    name: "Layout",
    components: {
        orders, navigation
    },
}
</script>

