<template>
        <v-container>
            <v-row>
                <v-col
                    v-for="restaurant in restaurants"
                    :key="restaurant.id"
                    cols="12"
                    xl="3"
                    lg="4"
                    md="6"
                    sm="6"
                >
                    <v-responsive :aspect-ratio="4/3">
                        <v-card
                            class="restaurantContent"
                            :img= '`/storage/${restaurant.name}.jpg`'
                            @click="redirect(restaurant.id)"
                            height="100%">
                            <h1 class = "restaurantName">{{ restaurant.name.toUpperCase() }}</h1>
                        </v-card>
                    </v-responsive>
                </v-col>
            </v-row>
        </v-container>
</template>

<script>
import api from "../../Services/api.js"

export default {
    data() {
        return {
            restaurants: null,
        };
    },
    methods: {
        redirect(resturantid){
            this.$router.push('/restaurants/'+resturantid)
        },
        /**
         * Gets all restaurants and all info about them
         */
        getAllRestaurants() {
            this.$store.state.restaurantName = ""
            api.getAllRestaurants().then((results) => {
                this.restaurants = results.data;
            });
        },
    },
    mounted() {
        this.getAllRestaurants();
    },
};
</script>

<style scoped>
.restaurantName{
    color: white;
    height: 100%;
    font-size: 40px;
    display: flex;
    transition: 0.5s ease-in-out;
    text-shadow: 0px 0px 10px black;
    justify-content: center;
    align-items: center;
}
.restaurantContent:hover{
    transition: 0.3s;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
.restaurantName:hover{
    font-size: 50px;
}
</style>
