<template>
    <v-col
    cols="12"
    >
        <v-card
            min-height="68px"
            class="accent"
            v-if="$route.path != '/restaurants'">
            <div>
                <v-btn icon to="/" class = "back_button">
                    <v-icon color="black">mdi-arrow-left</v-icon>
                </v-btn>
                <h1 class="d-inline restaurant_name">{{ this.$store.state.restaurantName }}</h1>
            </div>
        </v-card>

        <v-card
            min-height="68px"
            class="accent"
            v-else>
            <h1 class="pt-3 ml-4">Home</h1>
        </v-card>
    </v-col>
</template>

<script>
export default {
    name: "navigation.vue"
}
</script>

<style scoped>
    .restaurant_name{
        position: relative;
        top: 12px;
    }
    .back_button{
        position: relative;
        top: 5px;
    }
</style>
