<template>
    <v-col>
        <message></message>
        <v-expansion-panels>
            <v-expansion-panel>
                <v-expansion-panel-header disable-icon-rotate>
                    Orders
                    <template v-slot:actions>
                        <v-icon>mdi-food</v-icon>
                    </template>
                </v-expansion-panel-header>

                <v-expansion-panel-content
                    v-if="this.$store.state.ordersArray != null"
                >
                    <h1>{{ this.$store.state.ordersArray.restaurant }}</h1>
                    <v-card
                        min-height="150"
                        class="mt-3"
                        v-for="(order, i) in this.$store.state.ordersArray" :key="i">
                        <v-card
                            min-height="80px"
                            elevation="0"
                            class="info"
                            v-if="order != null"
                        >
                            <h3 class="pt-3 ma-3"
                            >Ordered at {{ order.menu_item.restaurant.name }}</h3>

                            <p class="pt-3 ma-3"
                               v-if="$store.state.ordersArray.length > 0">
                                {{ order.menu_item.item }} </p>

                            <v-spacer></v-spacer>
                            <v-btn
                                v-if="$store.state.user.id == order.user_id"
                                @click="deleteItem(order.id)"
                                dark
                                class="ma-2 primary"
                            >
                                <v-icon>mdi-delete</v-icon>
                                Remove order
                            </v-btn>
                        </v-card>

                        <v-card
                            height="40px"
                            class="order"
                            elevation="0"
                        >
                            <p
                                class="ma-4"
                            >Comment: {{ order.comment }}</p>
                        </v-card>
                    </v-card>

                    <v-btn
                        v-if="this.$store.state.ordersArray.length > 0"
                        class="mt-3 text-h6 primary"
                        dark
                        @click="submitOrder()"
                    >Finish order
                    </v-btn>
                </v-expansion-panel-content>
            </v-expansion-panel>
        </v-expansion-panels>

        <v-overlay :value="spinner">
            <v-progress-circular
                size="100"
                indeterminate
                color="white"
            ></v-progress-circular>
        </v-overlay>
    </v-col>
</template>

<script>
import api from '../../Services/api'
import message from '../../Components/message'

export default {
    components:{
        message
    },
    data(){
        return{
            spinner: false,
        }
    },
    name: 'orders',
    methods: {
        /**
         * Submits order to database
         */
        submitOrder() {
            const userId = this.$store.state.user.id
            const restaurantID = this.$store.state.ordersArray[0].menu_item.restaurant_id;

            api.completeOrder(userId, restaurantID)
                .then((response) => {
                    this.$store.dispatch('clearOrderArray')
                })

            this.$store.dispatch('updateMessageData', {
                orderResponse: true,
                orderResponseText: "Order was submitted to Slack!",
                orderResponseIcon: "mdi-check",
                orderResponseColor: "green"
            })
        },
        /**
         * Delets user's item from order
         * @param {number} userid
         * @param {number} itemid
         */
        async deleteItem(itemid) {
            this.spinner = true
            await api.deleteItem(itemid)
                .then(() => {
                    api.getOrdersForToday().then((response) => {
                        this.$store.dispatch('modifyOrders', response.data)

                        this.$store.dispatch('updateMessageData', {
                            orderResponse: true,
                            orderResponseText: "Item was removed from order!",
                            orderResponseIcon: "mdi-delete",
                            orderResponseColor: "red"
                        })

                        this.spinner = false
                    })
                })
        },
    },
    created: function () {
        api.getOrdersForToday().then((response) => {
            this.$store.dispatch('modifyOrders', response.data)
        })
    }
}
</script>
