<template>
    <v-container>

        <message></message>

        <v-overlay :value="spinner">
            <v-progress-circular
                size="100"
                indeterminate
                color="white"
            ></v-progress-circular>
        </v-overlay>

        <v-chip
            class="mb-3"
            color="green"
            dark
            v-if="data != null">
            Updated: {{ data[0].created_at.slice(0, 10) }}</v-chip>
        <v-expansion-panels>
            <error
                v-if="error"
                :error="errorMessage"
            ></error>
            <v-expansion-panel
                v-for="dish in data" :key="dish.index">
                <v-expansion-panel-header>
                    <p class="mt-5" v-if="dish.price != null">{{ dish.item }} eur</p>
                    <p class="mt-5" v-else>{{ dish.item }}</p>
                </v-expansion-panel-header>

                <v-expansion-panel-content>
                    <v-textarea
                        no-resize
                        v-model="comment"
                        label="Comment"
                    ></v-textarea>

                    <v-btn
                        @click="addToOrderList(dish)"
                        width="100%"
                        class="white--text font-weight-bold ma-0 secondary"
                        height="50px"
                        :ripple="false"
                    >
                        Place an order
                    </v-btn>
                </v-expansion-panel-content>
            </v-expansion-panel>
        </v-expansion-panels>
    </v-container>
</template>

<script>
import api from '../../Services/api'
import error from '../../Components/error'
import message from '../../Components/message'

export default {
    components: {
        error, message
    },
    data() {
        return {
            restaurantName: null,
            spinner: false,

            comment: null,
            data: null,
            error: null,
            errorMessage: null,
        }
    },

    methods: {

        //Gets latest restaurant data
        getRestaurantData() {
            this.spinner = true
            api.getRestaurantData(this.$route.params.id)
                .then((response) => {
                    /*If there are no menu items for a given restaurant,
                    * only restaurant name is stored and error message is displayed
                    */
                    if (response.data.menuItems == null) {
                        this.error = true
                        this.errorMessage = "Data was not updated for today yet!"
                        this.restaurantName = response.data.restaurantName
                        this.$store.dispatch('updateRestaurantName', this.restaurantName)
                    } else {
                        this.data = response.data.menuItems;
                        this.restaurantName = response.data.restaurantName
                        this.$store.dispatch('updateRestaurantName', this.restaurantName)
                    }

                    this.spinner = false
                })
                .catch(() => {
                    this.$store.state.restaurantName = "No restaurant was found!"
                    this.errorMessage = "There was an error trying to obtain data!"
                    this.error = true
                    this.spinner = false
                })
        },
        /**
         * Adds item to order list
         * @param {object} e data that will be added to order table
         */
        addToOrderList(e) {
            api.addOrder(this.$store.state.user.id, e, this.comment)
                .then((response) => {
                    if (response.data) {
                        this.$store.dispatch('updateMessageData', {
                            orderResponse: true,
                            orderResponseText: response.data.message,
                            orderResponseIcon: "mdi-check",
                            orderResponseColor: "green"
                        })

                        api.getOrdersForToday()
                            .then((response) => {
                                this.$store.dispatch('modifyOrders', response.data)
                            })
                        this.orderResponse = false
                    }
                })
                .catch((err) => {
                    this.$store.dispatch('updateMessageData', {
                        orderResponse: true,
                        orderResponseText: err.response.data.message,
                        orderResponseIcon: "mdi-cancel",
                        orderResponseColor: 'red'
                    })
                })
        },
    },
    mounted() {
        this.getRestaurantData()
    }
}
</script>

<style scoped>

</style>
