<template>
    <v-container>
        <v-row>
            <user-management></user-management>
            <v-btn
                color="#219834"
                width="350px"
                height="60px"
                :ripple="false"
                :block="$vuetify.breakpoint.mobile"
                @click="applyUpdates()"
                class="float-right mt-3 mb-2"
                dark
            >
                <h3 v-if="$store.state.changes.length > 1">Save {{ $store.state.changes.length }} changes</h3>
                <h3 v-else-if="$store.state.changes.length === 1">Save {{ $store.state.changes.length }} change</h3>
                <h3 v-else>Save</h3>
            </v-btn>
            <adminPanelResponse></adminPanelResponse>
        </v-row>

    </v-container>
</template>

<script>
import adminPanelResponse from "../Components/adminPanelResponse";
import api from "../Services/api";
import userManagement from "../Pages/panel/userManagement";

export default {
    components: {
        userManagement,
        adminPanelResponse
    },
    name: "panel.vue",
    methods: {
        applyUpdates() {
            api.modifyUsers(this.$store.state.changes)
                .then((response) => {
                    this.$store.state.adminResponse = true
                    this.$store.state.adminResponseColor = "green"
                    this.$store.state.adminResponseIcon = "mdi-thumb-up"
                    this.$store.state.adminResponseText = response.data.response

                    // Resets array data
                    this.$store.state.changes = []
                })
        }
    }
}
</script>
