<template>
    <v-app
        app
    >
        <user-profile></user-profile>
        <v-navigation-drawer
            v-model="drawer"
            app
            width="270"
            temporary>
            <v-list>

                <v-list-item>
                    <v-list-item-avatar>
                        <v-icon
                            large
                        >mdi-account-circle
                        </v-icon>
                    </v-list-item-avatar>
                    <v-list-item-content>
                        <v-list-item-title>{{ this.$store.state.user.name }}</v-list-item-title>
                        <v-list-item-subtitle>{{ this.$store.state.user.email }}</v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>
                <v-divider></v-divider>

                <v-list-item>
                    <v-btn
                        elevation="0"
                        block
                        dark
                        :ripple="false"
                        class="secondary"
                        @click="$store.state.enable_user_profile_dialog = true">
                        User profile
                    </v-btn>
                </v-list-item>

                <!-- Button that accesses admin panel if user is admin -->
                <v-list-item v-if="$store.state.user.role === 'admin'">
                    <v-btn
                        @click="$router.push('/admin')"
                        elevation="0"
                        block
                        dark
                        :ripple="false"
                        class="secondary"
                    >Admin panel
                    </v-btn>
                </v-list-item>

                <v-list-item v-if="$store.state.user.role === 'admin'">
                    <v-btn
                        @click="$router.push('/restaurants')"
                        elevation="0"
                        block
                        dark
                        :ripple="false"
                        class="secondary"
                    >Restaurants
                    </v-btn>
                </v-list-item>

                <!-- Logout button -->
                <v-list-item>
                    <v-btn
                        @click="logout()"
                        elevation="0"
                        block
                        dark
                        :ripple="false"
                        class="secondary"
                    >Logout
                    </v-btn>
                </v-list-item>
            </v-list>
        </v-navigation-drawer>

        <v-app-bar
            height="90px"
            width="100%"
            class="primary"
            app>

            <v-app-bar-nav-icon
                @click="drawer = !drawer"
                dark
            ></v-app-bar-nav-icon>

            <v-toolbar-title
                class="title white--text"
                id="title">Preskok lunch-app
            </v-toolbar-title>
        </v-app-bar>
        <v-main>
            <router-view></router-view>

            <v-snackbar
                color="green"
                :value="this.$store.state.messageType">
                {{ this.$store.state.responseMessage }}
            </v-snackbar>
        </v-main>
    </v-app>
</template>

<script>
// Components
import api from "../Services/api";
import userProfile from "../Components/userProfile";

export default {
    name: "index.vue",
    components: {
        userProfile
    },
    data() {
        return {
            drawer: false,
        }
    },
    methods: {
        //Logs out user
        logout() {
            localStorage.clear();
            this.$router.push({path: '/login'})
        },
        /**
         * Check if user provided token is still valid
         * If token is not valid, user is redirected to /login-->
         */
        checkUserToken() {
            this.$store.dispatch('updateCredentials')
        },
    },
    created() {
        window.Echo.channel('Order')
            .listen('.orders', () => {
                api.getOrdersForToday()
                    .then((response) => {
                        this.$store.dispatch('modifyOrders', response.data)
                    })
            }).listen('.orderComplete', (e) => {
            if (e.return) {
                this.$store.dispatch('clearOrderArray')

                this.$store.dispatch('updateMessageData', {
                    orderResponse: true,
                    orderResponseText: "Order was submitted to Slack!",
                    orderResponseIcon: "mdi-check",
                    orderResponseColor: "green"
                })
            }
        })
            .listen('.orderDelete', () => {
                api.getOrdersForToday()
                    .then((response) => {
                        this.$store.dispatch('modifyOrders', response.data)
                    })
            })
    },
    beforeMount() {
        this.checkUserToken()
    },
}
</script>

