<template>
    <!-- Add user dialog -->
    <v-dialog width="500px" v-model="dialog">
        <template v-slot:activator="{ on, attrs }">
            <v-btn
                color="primary"
                dark
                class="mb-2 font-weight-medium"
                v-bind="attrs"
                v-on="on"
            >Add user
            </v-btn>
        </template>

        <v-card>
            <v-card-title class="h2">Add user</v-card-title>
            <v-form
                class="pa-5"
            >
                <v-text-field
                    outlined
                    v-model="user.nameAndSurname"
                    label="Name and surname"
                >
                </v-text-field>

                <v-text-field
                    outlined
                    v-model="user.email"
                    label="Email"
                >
                </v-text-field>

                <v-text-field
                    outlined
                    v-model="user.password"
                    label="Password"
                >
                </v-text-field>

                <v-select
                    :items="$store.state.roles"
                    v-model="user.role"
                    label="Roles.."
                >
                </v-select>

                <v-btn
                    dark
                    color="primary"
                    block
                    @click="addUser()"
                >
                    Add user
                </v-btn>
            </v-form>
        </v-card>
    </v-dialog>
</template>

<script>
import api from "../../Services/api";

export default {
    name: "addUserDialog",
    data() {
        return {
            // The variables are stored in the object so that they can be easily reset via Object.assign()
            user: {
                nameAndSurname: '',
                email: '',
                password: '',
                role: '',
            },
            defaultUser: {
                nameAndSurname: '',
                email: '',
                password: '',
                role: '',
            },
            dialog: false
        }
    },
    methods: {
        addUser() {
            api.addUser(this.user)
                .then((response) => {
                    this.dialog = false
                    this.$store.state.adminResponse = true
                    this.$store.state.adminResponseColor = "green"
                    this.$store.state.adminResponseIcon = "mdi-thumb-up"
                    this.$store.state.adminResponseText = response.data.response
                    this.$store.dispatch('getUsers')

                    // Sets user object to default
                    this.user = Object.assign({}, this.defaultUser)
                })
                .catch((err) => {
                    this.dialog = false
                    this.$store.state.adminResponse = true
                    this.$store.state.adminResponseColor = "red"
                    this.$store.state.adminResponseIcon = "mdi-thumb-down"
                    this.$store.state.adminResponseText = err.response.data.message
                })
        },
    }
}
</script>

<style scoped>

</style>
