<template>
    <v-dialog
        v-model="$store.state.deleteUserDialog"
        width="500"
    >
        <v-card>
            <v-card-title>Are you sure you want to delete this user?</v-card-title>
            <v-card-actions class="justify-end">
                <v-btn
                    outlined
                    :ripple="false"
                    @click="$store.state.deleteUserDialog = false"
                >Cancel
                </v-btn>
                <v-btn
                    color="primary"
                    depressed
                    @click="deleteUser()"
                >Delete
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
import api from "../../Services/api";

export default {
    name: "deleteUserDialog",
    props: ["id"],
    methods: {
        deleteUser() {
            api.deleteUser(this.id)
                .then((response) => {
                    this.$store.state.adminResponse = true
                    this.$store.state.adminResponseColor = "green"
                    this.$store.state.adminResponseIcon = "mdi-thumb-up"
                    this.$store.state.adminResponseText = response.data.response
                    this.$store.state.deleteUserDialog = false
                    this.$store.dispatch('getUsers')
                })
        },
    }
}
</script>

<style scoped>
/* Words don't break correctly when window is resized */
.v-card__title {
    word-break: normal;
}
</style>

