<template>
    <v-container>
        <v-data-table
            :headers="headers"
            :items="$store.state.users"
            :sort-by="['id']"
            class="elevation-1"
        >
            <template v-slot:top>
                <v-toolbar
                    flat
                >
                    <v-toolbar-title>Admin panel</v-toolbar-title>
                    <v-divider
                        class="mx-4"
                        inset
                        vertical
                    ></v-divider>

                    <v-spacer></v-spacer>
                    <add-user-dialog/>
                </v-toolbar>
            </template>

            <!-- Edit email -->
            <template v-slot:item.email="user">
                <v-edit-dialog
                    :return-value.sync="user.item.email"
                > {{ user.item.email }}
                    <template v-slot:input>
                        <v-text-field
                            @keydown.enter="modifyUser(user.item.id, user.item.email, 'email')"
                            v-model="user.item.email"
                            label="Edit"
                            single-line
                            counter
                        ></v-text-field>
                    </template>
                </v-edit-dialog>
            </template>

            <!-- Delete user button -->
            <template v-slot:item.delete="{ item }">
                <v-btn
                    fab
                    color="red"
                    dark
                    :ripple="false"
                    class="elevation-0"
                    small
                    v-if="item.id !== $store.state.user.id"
                    @click="selectUserToDelete(item.id)"
                >
                    <v-icon dark>mdi-delete</v-icon>
                </v-btn>
            </template>

            <!-- Roles -->
            <template v-slot:item.roles="{ item }">
                <v-select
                    @input="modifyUser(item.id, item.roles[0].name, 'role')"
                    v-model="item.roles[0].name"
                    :items="$store.state.roles">
                </v-select>
            </template>
        </v-data-table>

        <delete-user-dialog :id="id"/>
    </v-container>
</template>

<script>

import DeleteUserDialog from "./deleteUserDialog";
import AddUserDialog from "./addUserDialog";

export default {
    name: "userManagement",
    components: {AddUserDialog, DeleteUserDialog},
    data() {
        return {
            id: null,
            // Data table
            headers: [
                {text: 'id', value: 'id'},
                {text: 'name', value: 'name'},
                {text: 'email', value: 'email'},
                {text: 'Role', value: 'roles', sortable: false},
                {text: 'Delete', value: 'delete', sortable: false},
            ]
        }
    },
    methods: {
        getUsers() {
            return this.$store.dispatch('getUsers')
        },
        selectUserToDelete(id) {
            this.$store.state.deleteUserDialog = true
            this.id = id
        },
        // Stores new changes to array
        modifyUser(id, data, type) {
            this.$store.dispatch('addChangeToArray', {id: id, data: data, type: type})
        },
    },
    mounted() {
        this.getUsers()
    }
}
</script>
