<template>
    <v-dialog
        v-model="$store.state.adminResponse"
        width="300"
    >
        <v-card>
            <v-card-title>
                <v-icon
                    class="ma-auto"
                    size="100"
                    :color="$store.state.adminResponseColor"
                >{{ $store.state.adminResponseIcon }}
                </v-icon>
            </v-card-title>

            <v-card-text class="text-center">
                {{ $store.state.adminResponseText }}
            </v-card-text>
        </v-card>
    </v-dialog>
</template>

<script>
export default {
    name: "message.vue"
}
</script>
