<template>
    <v-row>
        <v-col
        id="col"
        cols="6"
        >
            <v-icon
            color="black"
            id="icon"
            size="150"
            >
            mdi-emoticon-confused-outline
            </v-icon>
            <p id = "error-text">{{ error }}</p>
        </v-col>
    </v-row>
</template>

<script>
export default {
    props:[
        "error"
    ]
}
</script>

<style scoped>
    #icon{
        margin: 0 auto;
        width: 100%;
    }
    #col{
        position: relative;
        top: 30vh;
        margin: 0 auto;
    }
    #error-text{
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 21px;
        line-height: 29px;
    }
</style>
