<template>
    <v-dialog
        max-width="500"
        v-model="$store.state.enable_user_profile_dialog">
        <v-card>
            <v-card-text>
                <v-form>
                    <v-card-title class="justify-center">Change password</v-card-title>

                    <v-text-field
                        type="password"
                        v-model="user.currentPassword"
                        label="Current password"
                    ></v-text-field>

                    <v-text-field
                        type="password"
                        v-model="user.newPassword"
                        label="New password"
                    ></v-text-field>

                    <v-text-field
                        type="password"
                        v-model="user.newPasswordAgain"
                        label="Repeat password"
                    ></v-text-field>

                    <v-btn
                        dark
                        :ripple="false"
                        @click="changePassword()"
                        large
                        :loading="buttonLoader"
                        class="font-weight-bold text-center secondary"
                        block
                    >Save
                    </v-btn>

                    <v-alert
                        class="mt-3"
                        type="error"
                        v-if="this.$store.state.messageType === false">
                        {{ this.$store.state.responseMessage }}
                    </v-alert>

                </v-form>
            </v-card-text>
        </v-card>
    </v-dialog>
</template>

<script>

import api from "../Services/api";

export default {
    name: "userProfile",
    data() {
        return {
            user: {
                currentPassword: '',
                newPassword: '',
                newPasswordAgain: ''
            },
            buttonLoader: false
        }
    },
    methods: {
        // Sends request to change user's password
       changePassword() {
            this.buttonLoader = true

            let data = {
                "currentPassword": this.user.currentPassword,
                "newPassword": this.user.newPassword,
                "newPasswordAgain": this.user.newPasswordAgain
            }

            api.updateUserPassword(data)
           .then((response)=>{
                this.$store.dispatch('setPasswordResponse', {
                    responseMessage: response.data.response, status: true
                })

               // If password was successfully updated all data is set to null
               this.user.currentPassword = null
               this.user.newPassword = null
               this.user.newPasswordAgain = null
           })
           .catch((err)=>{
               this.$store.dispatch('setPasswordResponse', {
                   responseMessage: err.response.data.message, status: false
               })
           })
           // Stop button loader after action was complete
           this.buttonLoader = false
        }
    }
}
</script>
