<template>
    <v-app>
        <v-main>
            <v-row
                justify="center"
                class="align-self-center"
            >
                <v-col
                    cols="12"
                    md="7"
                    lg="6"
                    xl="3"
                >
                    <v-overlay :value="spinner">
                        <v-progress-circular
                            size="100"
                            indeterminate
                            color="white"
                        ></v-progress-circular>
                    </v-overlay>

                    <v-card
                        id="loginForm"
                        class="pa-4"
                        :elevation="$vuetify.breakpoint.mobile ? 0 : 10"
                    >
                        <v-card-title

                            class="text-center d-block"
                        >
                            <h2 class="mt-3">Login</h2>
                        </v-card-title>

                        <v-card-text>
                            <v-form id="form">
                                <v-text-field
                                    label="Email"
                                    v-model="email"
                                    prepend-icon="mdi-email"
                                ></v-text-field>

                                <v-text-field
                                    label="Password"
                                    v-model="password"
                                    :type="showPassword ? 'text' : 'password'"
                                    :append-icon="showPassword ? 'mdi-eye': 'mdi-eye-off'"
                                    @click:append="showPassword = !showPassword"
                                    prepend-icon="mdi-lock"
                                ></v-text-field>

                                <v-btn
                                    dark
                                    class="font-weight-bold secondary"
                                    :ripple="false"
                                    @click="login()"
                                    block>
                                    Log in
                                </v-btn>

                                <v-alert
                                    class="mt-3"
                                    v-if="error"
                                    type="error"
                                >
                                    {{ errorText }}
                                </v-alert>
                            </v-form>
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>
        </v-main>
    </v-app>
</template>

<script>
import api from '../../Services/api'

export default {
    data() {
        return {
            showPassword: false,
            password: null,
            email: null,
            spinner: false,

            //Error
            error: null,
            errorText: null
        }
    },
    methods: {
        login() {
            this.spinner = true
            api.loginUser(this.email, this.password)
                .then((response) => {
                    if (response.data.token) {
                        localStorage.setItem('authToken', response.data.token)
                        window.location.href = "/restaurants"
                    }
                })
                .catch((err) => {
                    if (err.response != null) {
                        this.error = true
                        this.spinner = false
                        this.errorText = "Provided data was invalid!"
                    }
                })
        }
    }
}
</script>

<style scoped>
* {
    font-family: 'Open Sans', sans-serif;
}
#loginForm{
    position: relative;
    top: 25vh;
}

</style>


